@import '/src/style/variables';

.home-page {
    &__wrapper {
        max-width: 1800px;
        margin: 0 auto;
    }

    &__table {
        width: 100%;

        .mat-cell {
            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
            padding-left: $space-md;
            padding-right: $space-md;
        }
    }
}